body {
}

.score {
  color: black;
}

.choice-container {
  display: inline-block;
  margin-bottom: 0.8rem;
  width: 200px;
  border-radius: 4px;
  background: rgb(18, 93, 255);
  font-size: 3rem;
  min-width: 3rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
  transform: scale(1.02);
  transform: transform 100ms;
}

.choice-text {
  padding: 2rem;
  width: 100%;
  text-align: left;
}

.correct {
  background: rgb(3, 255, 3);
}

.incorrect {
  background: red;
}
